---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const SITE_TITLE = "About | Lukas Belka - Data Analyst and Analytics Developer";
const SITE_DESCRIPTION = "This sites reveals a bit more about me";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>About</h1>
			<p>
				Hi, I'm Lukas a certified Data Analyst and Analytics Developer. Today it's my job to make data human-friendly and usable,
				I like it! But I was not always wrangling data why I would describe myself as kind of hybrid: For nearly ten years I worked as a project
				manager in the primary and reinsurance industry, where I headed the PMO of a large IT-transformation project for two years.
			</p>	
			<img class="inline w-1/4" src="/lukas.png" alt="Lukas">
			<p>	
				During that time I felt like I want to deal with data professionally instead of linking dozens of excel files,
				creating Gannt Charts with Think Cell and reporting to the managmenet with power point slides - for sure you know what I mean.😀
				As I was always keen on IT and web technologies I started programming in Python,
				learning SQL (and JavaScript because I like the D3 library) - it is a never-ending journey!
			</p>
			<p>
				I'm learning from other people who share their knowledge, this is why I share mine here as well.
				Let's start with a post on how to annotate a barplot in seaborn, because knowing this earlier would have saved
				me a lot of time during my practical Data Analyst certification exam. Have fun!
			</p>
			
		</main>
		<Footer>
		<Footer />
	</body>
</html>
