---
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const SITE_TITLE = "Lukas Belka - Insurance Professional";
const SITE_DESCRIPTION = "Read a few lines about me.";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<title>Lukas Belka</title>
		<main>
			<img class="inline w-1/4" src="/lukas-foto2.png" alt="Lukas" class="max-w-[250px] max-h-[250px] md:w-[50vw] md:h-[50vh]">
			<h1>Lukas Belka</h1>
			<p>
				Hi, I'm Lukas a (re)insurance professional who works in the industry since 2009. Since then
				I have managed projects and headed the PMO of a large IT-transformation	project
				in order to restructure the whole organization from a classical PM-approach into an agile
				way of working according to the SAFe framework.
			</p>
			<p>
				Back then I realised that I wanted to become more professional in handling data in order to gain
				insights faster and make decisions based on hard facts. Further, instead of linking numerous Excel files
				via references, drawing gannt charts with Think Cell and reporting figures using .ppt slides,
				I wanted to automate as much as possible - this is why I learnt Python and became good in SQL.
			</p>
			<p>
				Until recently it was my job to make data human-friendly and readable, with a focus on
				data analytics (application programming) and business kpis (performance measurement). I mainly coded in Python and R (Shiny) and
				worked with PowerBI as well. Since 2023 I am a certified Data Analyst Professional and I hold the Data Modeling Certification
				of the DMI (Data Modeling Institute).
			</p>
			<p>
				Today I use that knowledge to be as productive as possible, enhance my processes @ work and contribute
				as much as possible to the success of Talanx AG.
			</p>
			
		</main>
		<Footer>
		<Footer />
	</body>
</html>
