---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<!-- <h1 class="page_title"> {SITE_TITLE} </h1> -->
	<nav>
		<HeaderLink href="/">home</HeaderLink>
		<HeaderLink href="/about">about</HeaderLink>
		<HeaderLink href="/blog">blog</HeaderLink>
	</nav>
</header>